

.DS_Store
/makeGraphQLjsLib/.cache
/makeGraphQLjsLib/dist
/makeGraphQLjsLib/.babelrc~

!/makeGraphQLjsLib/dist/index.js

!/makeGraphQLjsLib/
!/makeGraphQLjsLib/.babelrc
!/makeGraphQLjsLib/src

node_modules/
