*
!/.gitattributes
!/.gitignore

/*

!/package.json

!/public
!/public/*


!/src
!/src/*


/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/*/*/*/*/.DS_Store
/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
